{
	"Id":"aaaa-bbbb-cccc-dddd",
	"Statement" : [{
		"Sid":"1",
		"Effect":"Allow",
		"Action":"*",
		"Resource":"*",
		"Condition" : {
		}
	}]
}